# All these support html
title: "Cool monitors" # Will also be username in embed
description: "is stuff down?"
footer: 'Made with ❤️ by <a href="https://cyteon.dev">Cyteon</a>'

degradedMultipiler: 1.5 # If ping is more than avg ping * degradedMultipiler, it will be marked as degraded

alert:
  title: ""
  description: ""
  show: false

okRanges:
  - start: 200
    end: 299
  - start: 401
    end: 401
