@import 'tailwindcss';

input, textarea {
    @apply bg-neutral-800 text-neutral-300 border rounded-md p-2 w-full mt-1;
}

input:focus, textarea:focus {
   outline: none;
}

button {
    cursor: pointer;
}

* {
    transition: all 0.2s ease-in-out;
    @apply border-neutral-700;
}