@import "tailwindcss";

body {
    @apply bg-neutral-900 text-white;
}

input,
textarea {
    @apply text-neutral-300 border rounded-md p-2 w-full;
}

input:focus,
input:hover,
textarea:focus,
textare:hover {
    @apply border-neutral-700;
}

input:focus,
textarea:focus {
    outline: none;
}

button {
    cursor: pointer;
    @apply border text-neutral-300 rounded-md p-2 hover:bg-neutral-800;
}

* {
    transition: all 0.2s ease-in-out;
    @apply border-neutral-800;
}
